<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Recruitment Task</title>
</head>
<body>
<h1>Book Inventory</h1>

<div class="search-container">
    <p>Search by keyword</p>
    <form method="POST" action="/results" accesskey="text">
        <label>
            <input type="text" placeholder="Search.." name="searchCondition"/>
        </label>
        <input type="submit" value="Search"/>
    </form>
</div>

<div class="date-search-container">
    <p>Filter by date</p>
    <form method="POST" action="/filtered" accesskey="text">
        <label>
            <input type="text" placeholder="Start date" name="startTime"/>
        </label>
        <label>
            <input type="text" , placeholder="End date" name="endTime">
        </label>
        <input type="submit" value="Search"/>
    </form>
</div>

<div class="adding-container">
    <p>Add new book</p>
    <form action="/add" accesskey="text">
        <input type="submit" value="Add book">
    </form>
</div>

<div class="import-container">
    <p>Import book from API</p>
    <form action="/import" accesskey="text">
        <input type="submit" value="Import book">
    </form>
</div>

<div>
    <p>Book list</p>
    <table>

        {% block body %}
            <tr>
                <td>Title</td>
                <td>Authors</td>
                <td>Published Date</td>
                <td>Industry Identifiers</td>
                <td>Page Count</td>
                <td>Links</td>
                <td>Languages</td>
            </tr>

            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.authors }}</td>
                    <td>{{ book.publisherDate }}</td>
                    <td>{{ book.industryIdentifiers }}</td>
                    <td>{{ book.pageCount }}</td>
                    <td>{{ book.imageLinks }}</td>
                    <td>{{ book.language }}</td>

                </tr>
            {% endfor %}

        {% endblock %}
    </table>
</div>

</body>
</html>

