<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Recruitment Task</title>
</head>
<body>
<h1>Adding new book</h1>

<div class="search-container">
    <form method="POST" action="/adding" accesskey="text">
        <input type="text" placeholder="Title..." name="title"/>
        <input type="text" placeholder="Author;author..." name="authors"/>
        <input type="text" placeholder="Published date..." name="publishedDate"/>
        <input type="text" placeholder="Industry identifier,type;identifier,type" name="industryIdentifiers"/>
        <input type="text" placeholder="Page number..." name="pageCount"/>
        <input type="text" placeholder="Link,link...." name="links"/>
        <input type="text" placeholder="Language,language..." name="languages"/>
        <input type="submit" value="Add book"/>
    </form>
</div>

</body>
</html>

